* {
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    position: relative;
}
li,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    vertical-align: middle;
}
button,input,textarea,
button:focus,input:focus,textarea:focus{
    outline: none;
    border: none;
}
:root{
    --fontFamilyRaleway:'Raleway', sans-serif;
    --fontFamilyOpenSans:'Open Sans', sans-serif;
    --mainBlackColor: #353535;
    --mainYellowColor: #fec600;
    --clipPathBottom:polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    --clipPathTop:polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    --clipPathTopBottom:polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
}

/* font css */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700|Open+Sans:400|Sacramento");

*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* back to top button css starts */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
    z-index: 999;
    display: none;
    background: #fec600;
    color: #fff;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.back-to-top:hover {
    background: #353535;
    color: #fff;
}
/* back to top button css ends */


/* ============================ Navbar css starts================================== */
.navbar-collapse{
    transition: all ease-in-out .5s !important;
    -webkit-transition: all ease-in-out .5s !important;
    -moz-transition: all ease-in-out .5s !important;
    -ms-transition: all ease-in-out .5s !important;
    -o-transition: all ease-in-out .5s !important;
}
#navbar{
    border-bottom: 1px solid #423919;
    padding: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#navbar .nav-link{
    font-family: var(--fontFamilyRaleway);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color:#ffffff;
    padding: 42px 0;
    margin: 0 16px;
    position: relative;
}
#navbar .nav-item:last-child .nav-link{
    margin-right: 0 !important;
}
#navbar .nav-link:hover,
#navbar .nav-link.active{
    color: var(--mainYellowColor);
}
#navbar .nav-link::before{
    content: '';
    position: absolute;
    bottom: -0.5px;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 1;
    z-index: 99999;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#navbar .nav-link:hover::before,
#navbar .nav-link.active::before{
    background-color: var(--mainYellowColor);
    opacity: 1;
}
#navbar *{
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#navbar.navbar-bg *{
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#navbar.navbar-bg{
    background-color: #222222;
    border-bottom-color: #080808;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
}
#navbar.navbar-bg .navbar-brand{
    margin: 0;
    padding: 0;
}
#navbar.navbar-bg .nav-link{
    padding: 25px 0;
    margin: 0 15px;
}
/* ============================ Navbar css ends================================== */

/* ==================== 
    Banner part css
==================== */
#banner{
    height: 100vh;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
}

#banner .overlay{
    position: relative;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
}
#banner .carousel-control-prev,
#banner .carousel-control-next{
    top: 50%;
    z-index: 9999;
    height:40px;
    width:40px;
    opacity: 1;
    background-color: #ffffff;
    margin: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#banner .carousel-control-prev:hover,
#banner .carousel-control-next:hover{
    background-color: var(--mainYellowColor);
}
#banner .carousel-control-prev i,
#banner .carousel-control-next i{
    color: #1c1416 ;
    font-size: 20px;
}
#banner #banner-slick-slider,
#banner .slick-list,
#banner .slick-track{
    width: 100%;
    height: 100%;
    z-index: -9;
}
#banner #banner-slick-slider .banner-slider-item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
#banner .banner-content{
    position: absolute;
    top: 0;
    left: 0;
}
#banner .banner-text h1 {
    font-size: 36px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

#banner .banner-text h1 span {
    font-size: 55px;
    color: var(--mainYellowColor);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 6px;
    display: block;
}

#banner .banner-text p {
    max-width: 600px;
    margin: auto;
    font-size: 14px;
    line-height: 24px;
    color: #f1f1f1;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
    font-weight: 400;
}

#banner .banner-text a {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #fff;
    height: 50px;
    width: 130px;
    line-height: 50px;
    text-transform: uppercase;
    margin: 35px 4px 0 10px;
    color: #fff;
    transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
    -webkit-transition: all linear .5s;
}
#banner .banner-text a:hover{
    border-color: transparent;
    background-color: var(--mainYellowColor);
    color: #000;
}
#banner .banner-text a.active{
    border-color: transparent;
    background-color: var(--mainYellowColor);
    color: #000;
}
#banner .banner-text a.active:hover{
    border-color: #fff;
    background-color:transparent;
    color: #ffffff;
}
/* ==================== 
    About us part css
==================== */

#about-sec .card{
    padding: 40px 25px;
    border: none;
    background-color: #eeeeee;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#about-sec .card-body{
    padding:0;
}
#about-sec .card-title{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
}
#about-sec .card-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

#about-sec .about-content-main-card{
    margin: 40px 15px;
}
#about-sec .about-content-img{
    border: 1px solid var(--mainBlackColor);
    padding: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#about-sec .about-content-img .img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    overflow: hidden;
}
#about-sec .about-content-img .img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}
#about-sec .about-content-img img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 100%;
}
#about-sec .card-up,
#about-sec .card-down,
#about-sec .card-left,
#about-sec .card-right{
    position: relative;
    z-index: 99;
}
#about-sec .card-up::before,
#about-sec .card-down::before,
#about-sec .card-left::before,
#about-sec .card-right::before{
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    background: #eeeeee;
    z-index: -9;
}
#about-sec .card-up::after,
#about-sec .card-down::after,
#about-sec .card-left::after,
#about-sec .card-right::after{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--mainBlackColor);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#about-sec .card-down::before{
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
}
#about-sec .card-up::before{
    top: -14px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
}
#about-sec .card-right::before{
    right: -14px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
}
#about-sec .card-left::before{
    left: -14px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
}
#about-sec .card-down::after{
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
}
#about-sec .card-up::after{
    top: -50px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
}
#about-sec .card-right::after{
    right: -50px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
}
#about-sec .card-left::after{
    left: -50px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
}
#about-sec .card-down:hover{
    filter: drop-shadow(0px 2px 6px #bdb3b3);
    -webkit-filter: drop-shadow(0px 2px 6px 3px #bdb3b3);
}
#about-sec .card-up:hover{
    filter: drop-shadow(0px -2px  6px #bdb3b3);
    -webkit-filter: drop-shadow(0px -2px  6px 3px #bdb3b3);
}
#about-sec .card-right:hover{
    filter: drop-shadow(2px 2px  6px #bdb3b3);
    -webkit-filter: drop-shadow(2px 2px  6px 2px #bdb3b3);
}
#about-sec .card-left:hover{
    filter: drop-shadow(-2px 2px 8px #bdb3b3);
    -webkit-filter: drop-shadow(-2px 2px 6px #bdb3b3);
}
#about-sec .card:hover::after{
    background-color: var(--mainYellowColor);
}

/* ============================ Portfolio Section css starts================================== */
#portfolio-sec{
    background-image: url(../images/port-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 7%, 100% 0, 100% 94%, 0% 100%);;
}
#portfolio-sec > .overlay{
    background-color: rgba(0, 0, 0, .7);
}
#portfolio-sec .sec-heading{
    margin-top: 120px;
    color: #ffffff;
}
#portfolio-sec .portfolio-content{
    margin-bottom: 200px;
    color: #ffffff;
}
#portfolio-sec .portfolio-item{
    position: relative;
    margin: 0 12px 30px 12px;
}
#portfolio-sec .portfolio-item img{
    width: 100%;
}
#portfolio-sec .portfolio-item:last-child{
    margin-bottom: 0;
}
#portfolio-sec .portfolio-item .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#portfolio-sec .portfolio-item .overlay a{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#portfolio-sec .portfolio-item .overlay a:hover{
    background-color: var(--mainYellowColor);
}
#portfolio-sec .portfolio-item .overlay a i{
    color: #000;
}
#portfolio-sec .portfolio-item:hover .overlay{
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.sec-heading h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    margin-bottom: 28px;
}

.sec-heading p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0 30px;
}

.sec-heading {
    padding-bottom: 60px;
}


/* ============================ services css starts================================== */
#services-sec{
    padding-bottom: 20px;
}

#services-sec .wrapper{
    position: relative;
    overflow: hidden;
    padding: 80px 0;
}
.border-design{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scaleY(3);
    -webkit-transform: translateX(-50%) scaleY(3);
    -moz-transform: translateX(-50%) scaleY(3);
    -ms-transform: translateX(-50%) scaleY(3);
    -o-transform: translateX(-50%) scaleY(3);
    z-index: -9;
    width: 1px;
    height: 100%;
    overflow: hidden;
    border: 1px dashed #000000;
}
.slider-btn{
    position: absolute;
    left: 50%;
    width: 42px;
    height: 42px;
    z-index: 9;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #000;
    background-color: #ffffff;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    cursor: pointer;
}
.slider-btn i{
    font-size: 20px;
}
.slider-btn-up{
    top: 0;
}
.slider-btn-down{
    bottom: 0;
}
.slider-btn:hover{
    background-color: var(--mainYellowColor);
    border-color: transparent;
}
#services-sec .service-title h3{
    font-family: var(--fontFamilyRaleway);
    font-size: 24px;
    color: #111111;
    text-transform: uppercase;

}
#services-sec .service-img{
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}
#services-sec .service-img img{
    padding: 10px;
    background-color: #F1F1F1;
    width: 45%;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    margin: 0 auto;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
}
#services-sec .slick-center .service-img img{
    width: 55%;
    background-color: var(--mainYellowColor);
}
#services-sec .service-description p{
    font-family: 'Open Sans', sans-serif;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    padding: 54px 40px;
    line-height: 24px;
    margin: 0;
}
#services-sec .service-description{
    background: #eeeeee;
    position: relative;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#services-sec .service-description::before{
    content: '';
    position: absolute;
    z-index: -9;
    height: 40px;
    width: 40px;
    top: 50%;
    background: #eeeeee;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
}
#services-sec .service-description.desc-left::before{
    left: -15px;
}
#services-sec .service-description.desc-right::before{
    right: -15px;
}
#services-sec .slick-center .service-description.desc-left{
    filter: drop-shadow(-2px 2px 6px #bdb3b3);
    -webkit-filter: drop-shadow(-2px 2px 6px #bdb3b3);
}
#services-sec .slick-center .service-description.desc-right{
    filter: drop-shadow(2px 2px 6px #bdb3b3);
    -webkit-filter: drop-shadow(2px 2px 6px #bdb3b3);
}
#services-sec .service-item{
    padding: 0 16px;
}
/* ============================ services css ends================================== */

/* ============================ testimonials css starts================================== */
#testimonial-sec{
    background-image: url(../images/testimonial-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: var(--clipPathTopBottom);
}
#testimonial-sec .overlay{
    background: rgba(0, 0, 0, .7);
}
#testimonial-sec .testimonial-content{
    padding-top: 70px;
    padding-bottom: 60px;
}
#testimonial-sec .slider-btn{
    z-index: 999;
    border-color:#ffffff;
    background-color: transparent;
    border-width:1px ;
}
#testimonial-sec .slider-btn i{
    color:#ffffff;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#testimonial-sec .slider-btn:hover{
    background-color: var(--mainYellowColor);
    border-color: transparent;
}
#testimonial-sec .slider-btn:hover i{
    color: #000;
}
#testimonial-sec .border-design2{
    z-index: 9;
    margin: 42px 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    overflow: hidden;
}
#testimonial-sec .border-design-inside{
    width: 1px;
    height: 450px;
    overflow: hidden;
    border: 1px dashed #ffffff;
    transform: scaleY(3);
    -webkit-transform: scaleY(3);
    -moz-transform: scaleY(3);
    -ms-transform: scaleY(3);
    -o-transform: scaleY(3);
}
#testimonial-sec .testimonial-img-wrapper{
    z-index: 99;
    padding: 70px 0;
}
#testimonial-sec .testimonial-img-item{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}
#testimonial-sec .testimonial-img-item img{
    width: 100%;
    margin-top: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: .8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#testimonial-sec .testimonial-img-item .img{
    width: 74px;
    height: 74px;
    margin: 30px auto;
    transition: all linear .3s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #ebebeb;
    overflow: hidden;
}
#testimonial-sec .testimonial-img-item.slick-center .img{
    transform: scale(1.35);
    -webkit-transform: scale(1.35);
    -moz-transform: scale(1.35);
    -ms-transform: scale(1.35);
    -o-transform: scale(1.35);
    background-color: var(--mainYellowColor);
}
#testimonial-sec .testimonial-img-item.slick-center img{
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px);
}
#testimonial-sec .slick-slide{
    border: none;
}
#testimonial-sec .testimonial-details-item-wrapper{
    margin-left: 100px;
}
#testimonial-sec .testimonial-details-item{
    background: #f1f1f1;
    padding: 36px;
    position: relative;
    z-index: 9;
}
#testimonial-sec .testimonial-details-item::after{
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    height: 40px;
    width: 40px;
    background-color:  #f1f1f1;
    z-index: -9;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
}
#testimonial-sec .testimonial-details-item h3{
    font-family: var(--fontFamilyRaleway);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    color: #111111;
}
#testimonial-sec .testimonial-details-item span{
    color: #fec600;
}
#testimonial-sec .testimonial-details-item h4{
    font-family: var(--fontFamilyRaleway);
    font-size: 16px;
    margin-bottom: 20px;
    color: #353535;
}
#testimonial-sec .testimonial-details-item p{
    font-family: var(--fontFamilyOpenSans);
    color: #444444;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
}
#testimonial-sec .testimonial-details-item h6{
    font-family: 'Sacramento', cursive;
    color: #111111;
    font-size: 24px;
    line-height: 24px;
    text-align: right;
    font-weight: 600;
}
/* ============================ testimonials css ends================================== */

/* ============================ Pricing css starts================================== */
#pricing-sec{
    padding-bottom: 40px;
}
#pricing-sec .pricing-item {
    background-color: var(--mainBlackColor);
    position: relative;
    overflow: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#pricing-sec .price-head h3 {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 55px;
    margin: 0;
}
#pricing-sec .price-details {
    padding-top: 90px;
    padding-bottom: 50px;
    position: relative;
    z-index: 9;
}
#pricing-sec .price-details::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
    clip-path: var(--clipPathTopBottom);
    background-color: #F1F1F1;
    z-index: -9;
}
#pricing-sec .price-details p {
    font-family: var(--fontFamilyOpenSans);
    font-size: 14px;
    line-height: 30px;
    color: var(--mainBlackColor);
}
#pricing-sec .join h4 {
    padding-bottom: 22px;
}
#pricing-sec .join a {
    font-family: var(--fontFamilyRaleway);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
#pricing-sec .price-circle {
    position: absolute;
    top: -35px;
    left: 50%;
    z-index: 99;
    width: 100px;
    height: 100px;
    border: 1px solid var(--mainBlackColor);
    border-radius: 50%;
    background: #fff;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
#pricing-sec .price-rate {
    width: 90px;
    height: 90px;
    background:var(--mainBlackColor);
    border-radius: 50%;
    margin-top: 4px;
    margin-left: 4px;
}
#pricing-sec .price-rate p {
    font-family:var(--fontFamilyRaleway);
    font-size: 28px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
}
#pricing-sec .price-rate .rate-p {
    font-size: 14px;
    padding-top: 0;
}
#pricing-sec .pricing-item *{
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#pricing-sec .pricing-item:hover,
#pricing-sec .pricing-item:hover .price-rate {
    background:var(--mainYellowColor);
    color: #353535;
}
#pricing-sec .pricing-item:hover .price-head h3,
#pricing-sec .pricing-item:hover .join a,
#pricing-sec .pricing-item:hover .price-rate p {
    color: #353535;
}
#pricing-sec .pricing-item:hover {
    box-shadow: 0px 0px 10px 0px #bdb3b3;
}
/* ============================ Pricing css ends================================== */

/* ============================ counter css starts================================== */
#counter-sec{
    background-image: url(../images/port-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path:polygon(0 22%, 100% 0, 100% 78%, 0% 100%) ;
    overflow: hidden;
}
#counter-sec .overlay{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    padding: 80px 0;
}
#counter-sec .counter-content{
    transform: rotate(357deg);
    -moz-transform: rotate(357deg);
    -webkit-transform: rotate(357deg);
    -o-transform: rotate(357deg);
    -ms-transform: rotate(357deg);
}
#counter-sec .counter-item{
    width: 100%;
    height: 100%;
    font-family: var(--fontFamilyRaleway);
    padding: 25px 0px;
    color: #ffffff;
    position: relative;
}
#counter-sec .counter-item::before{
    content:'';
    position: absolute;
    top: 0;
    left: -10px;
    width: 115%;
    height: 100%;
    border: 1px solid #ffffff;
    transform: skew(-10deg, 0deg);
    -moz-transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    -o-transform: skew(-10deg, 0deg);
    -ms-transform: skew(-10deg, 0deg);
    z-index: -9;
}
#counter-sec .counter-item span{
    font-size: 30px;
    margin-bottom: 18px;
    display:block;
}
#counter-sec .counter-item h6{
    font-size: 20px;
    text-transform: capitalize;
}
/* ============================ counter css ends================================== */

/* ============================ Teams css starts================================== */
#teams-sec {
    padding-bottom: 30px;
}
#teams-sec .card{
    margin: 0 15px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
#teams-sec .card-img-top{
    background-color: #f1f1f1;
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    padding-top: 15px;
    position: relative;
}
#teams-sec .card-img-top img{
    width: 70%;
    margin: 0 auto;
}
#teams-sec .card-img-top .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(254, 198, 0, .6);
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
}
#teams-sec .card-img-top .overlay i{
    font-size: 18px;
    background: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #000;
}
#teams-sec .card:hover .card-img-top .overlay{
    height: 100%;
    opacity: 1;
    visibility: visible;
}
#teams-sec .card-body{
    padding: 0;
}
#teams-sec .card-title{
    font-family: var(--fontFamilyRaleway);
    font-size: 20px;
    font-weight: 500;
    color: #111111;
    margin-top: 10px;
    margin-bottom: 10px;
}
#teams-sec .card-text{
    font-family: var(--fontFamilyRaleway);
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    padding-bottom: 10px;
}
#teams-sec .social-links{
    position: relative;
    margin-top: -35px;
    z-index: -9;
    opacity: 0;
    visibility: hidden;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    padding-bottom: 22px;
}
#teams-sec .social-links a{
    width: 35px;
    height: 35px;
    border: 1px solid #111111;
    margin: 0 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#teams-sec .social-links i{
    font-size: 16px;
    color: #111111;
    line-height: 30px;
    text-align: center;
}
#teams-sec .social-links a:hover{
    background: #fec600;
    border: none;
}
#teams-sec .card:hover .social-links{
    margin-top: 0;
    z-index: 9;
    opacity: 1;
    visibility: visible;
}
/* ============================ Teams css ends================================== */

/* ============================ Market place css starts================================== */
#market-place-sec{
    background-color: #f1f1f1;
    clip-path:polygon(0 28%, 100% 0, 100% 72%, 0% 100%) ;
    padding: 70px 0;
    overflow: hidden;
}
#market-place-sec .market-place-content{
    transform: rotate(357deg);
    -moz-transform: rotate(357deg);
    -webkit-transform: rotate(357deg);
    -o-transform: rotate(357deg);
    -ms-transform: rotate(357deg);
}
#market-place-sec .market-place-item {
    padding: 40px 0px;
    margin: 0 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#market-place-sec .market-place-item .img img{
    width: 100%;
}
#market-place-sec .market-place-item::before{
    content:'';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 130%;
    height: 90%;
    border: 1px solid #cccccc;
    transform: translateY(-50%) skew(-10deg, 0deg);
    -moz-transform: translate(-50%) skew(-10deg, 0deg);
    -webkit-transform: translateY(-50%) skew(-10deg, 0deg);
    -o-transform: translateY(-50%) skew(-10deg, 0deg);
    -ms-transform: translateY(-50%) skew(-10deg, 0deg);
    z-index: 9;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#market-place-sec .slick-center .market-place-item::before{
    border-color: var(--mainYellowColor);
}
/* ============================ Market place css ends================================== */

/* ============================ footer css starts================================== */
#footer{
    background-color: #222222;
}
#footer .footer-heading{
    padding-bottom: 80px;
    position: relative;
}
#footer .footer-heading::before{
    content:'';
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: -9;
    background-color: #222222;
}
#footer .footer-heading::after{
    content:'';
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 9;
    background-color: #555555;
    transform: rotate(357deg);
    -moz-transform: rotate(357deg);
    -webkit-transform: rotate(357deg);
    -o-transform: rotate(357deg);
    -ms-transform: rotate(357deg);
}
#footer .footer-item{
    text-align: center;
}
#footer .footer-item{
    border-right: 1px solid #555555;
}
#footer .footer-item-last{
    border: none;
}
#footer .footer-item i{
    font-size: 18px;
    width: 35px;
    height: 35px;
    background: #fec600;
    line-height: 35px;
    color: #353535;
    margin-bottom: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#footer .footer-item p,
#footer .footer-item a{
    font-family: var(--fontFamilyRaleway);
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding: 0 8px;
    margin-bottom: 0;
    color: #ffffff;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#footer .footer-item p:hover,
#footer .footer-item a:hover{
    color: var(--mainYellowColor);
}
#footer .footer-item a{
    display: block;
}
#footer .social-media-heading h3{
    font-family: var(--fontFamilyRaleway);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    margin-top: 60px;
}
#footer .social-links i{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 40px;
    color: #353535;
    font-size: 18px;
    margin: 20px 6px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#footer .social-links i:hover{
    background-color: var(--mainYellowColor);
}
/* ============================ footer css ends================================== */

/* ============================ copyright css starts================================== */
#copyright{
    background-color: #353535;
    padding: 20px 0;
}
#copyright h6{
    font-family:var(--fontFamilyRaleway);
    font-size: 14px;
    color: #fff;
    margin: 0;
}
#copyright a{
    color: var(--mainYellowColor);
}
/* ============================ copyright css ends================================== */


